GOOGLE_API_KEY=sua_chave_aqui

# Configurações para reduzir logs padrão da langchain-google-genai
GRPC_VERBOSITY=none
GRPC_TRACE=none
GLOG_minloglevel=3

# Configurações do MongoDB
MONGODB_URL=mongodb://user:senha@localhost:27017
DATABASE_NAME=name

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=senha
MONGO_INITDB_DATABASE=name